<h1 mat-dialog-title>{{data.event.id ? 'Edit Event' : 'Add Event'}}</h1>
<div mat-dialog-content>
    <form [formGroup]="eventForm">
        <mat-form-field>
            <mat-label>Title</mat-label>
            <input matInput formControlName="title">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Description</mat-label>
            <input matInput formControlName="description">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Start Time</mat-label>
            <input matInput [matDatepicker]="startPicker" formControlName="start">
            <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
            <mat-datepicker #startPicker></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
            <mat-label>End Time</mat-label>
            <input matInput [matDatepicker]="stopPicker" formControlName="end">
            <mat-datepicker-toggle matSuffix [for]="stopPicker"></mat-datepicker-toggle>
            <mat-datepicker #stopPicker></mat-datepicker>
        </mat-form-field>
        <mat-checkbox formControlName="allDay">All Day</mat-checkbox>
        <mat-form-field>
            <mat-label>Action Text</mat-label>
            <input matInput formControlName="text">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Action Link</mat-label>
            <input matInput formControlName="link">
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onCancel()">Cancel</button>
    <button mat-button [mat-dialog-close]="eventForm.value" [disabled]="!eventForm.valid">{{data.event.id ? 'Update' :
        'Add'}}</button>
</div>